<%= form_for(@penjualan) do |f| %>
  <% if @penjualan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@penjualan.errors.count, "error") %> prohibited this penjualan from being saved:</h2>

      <ul>
      <% @penjualan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tanggal %><br />
    <%= f.date_select :tanggal %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br />
    <%= f.number_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :jumlah_penjualan %><br />
    <%= f.number_field :jumlah_penjualan %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
