<h1>Listing lokasis</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nama lokasi</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @lokasis.each do |lokasi| %>
      <tr>
        <td><%= lokasi.nama_lokasi %></td>
        <td>
          <%= link_to '', lokasi,:'class' => "icon-fullscreen" %>
          <%= link_to '', edit_lokasi_path(lokasi),:'class' => "icon-edit" %>
          <%= link_to '', lokasi, method: :delete,:'class' => "icon-fullscreen", data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Lokasi', new_lokasi_path, class: "btn btn-small" %>
