<p id="notice"><%= notice %></p>

<p>
  <b>Bahan:</b>
  <%= @pembelian.bahan.nama %>
</p>

<p>
  <b>Jumlah Beli:</b>
  <%= @pembelian.jumlah %>
</p>

<p>
  <b>Harga beli:</b>
  <%= @pembelian.harga_beli %>
</p>

<p>
  <b>Total:</b>
  <%= @pembelian.total %>
</p>

<p>
  <b>Tanggal:</b>
  <%= @pembelian.tanggal %>
</p>

<p>
  <b>Sisa Stock Sekarang:</b>
  <%= @pembelian.sisa_stock %>
</p>


<%= link_to 'Edit', edit_pembelian_path(@pembelian) %> |
<%= link_to 'Back', pembelians_path %>
